.formButton {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}

.formElement {
    color: purple;
    padding: 10px;
}

.loginForm {
    align-items: self-end;
    display: inline-flex;
    flex-direction: column;
}

.loginPage {
    padding: 100px;
    text-align: center;
}

.purple {
    color: purple;
}