a {
    color: white !important;
    text-decoration: none !important;
}

.button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.headerLink {
    padding: 10px;
}

.navigationSection  {
    float: right;
    padding: 20px;
}